/*---------------------*\
      Page style
\*---------------------*/

body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}


/* top navigation bar */
.navbar-headliner {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #730000;
}

.navbar {
    min-height: 40px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: #730000;
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
}

.logo {
    font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #730000;
    font-weight: 900;
    font-size: 16px;
}

/* search bar */
.searchbar-container {
    padding: 20px 10px 20px 10px;
    background-color: #DDD;
}

.searchbar {
    border-color: #6375fc;
    border-width: 2px;
}


/* buttons */
.btn, .btn:focus, .btn:hover {
    background-color: #6375fc;
    color: #ffffff;
    font-weight: 400;
}

    .btn:active, .btn.active {
        color: #FFF;
    }

    .btn:hover {
        background-color: #808ffe;
    }

/* hidden */
.hidden {
    visibility:hidden;
}
