/*---------------------*\
      Page style
\*---------------------*/

body {
    height: 100%;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    background-color: #FFFFFF;
}


/* top navigation bar */
.navbar-headliner {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #730000;
}

.navbar {
    min-height: 40px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: #730000;
}

.navbar-default {
    background-color: #DDD;
    border-color: transparent;
}

.logo {
    font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #730000;
    font-weight: 900;
    font-size: 14px;
    vertical-align: middle;
}

/* search bar */
.searchbar-container {
    padding: 20px 10px 20px 10px;
    background-color: #DDD;
}

.searchbar {
    border-color: #730000;
    border-width: 2px;
    border-radius: 0px;
}


/* buttons */
.btn, .btn:focus, .btn:hover {
    background-color: #730000;
    border: 0px solid transparent;
    color: #ffffff;
    font-weight: 400;
    border-radius: 0px;
}
    .btn:focus, .btn:active { outline: none !important; }
    .btn:active, .btn.active { color: #FFF; }
    .btn:hover { background-color: #4D0000; }

.form-control:focus, .form-control:active {
    outline: none !important;
}

/* hidden */
.hidden { visibility:hidden; }
