
.searchbar-container .tokenfield {
    border-color: #730000;
    border-width: 2px;
    line-height: 1.2em;
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.tokenfield .token {
    color: white;
    text-align: center;
    background-color: #730000;
    border-radius: 0px;
}

.tokenfield .token .token-label {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

    .tokenfield .token .close {
        color: white;
    }

.ui-autocomplete {
    width:      300px;
    max-width:  550px;
    min-width:  400px !important;
    border-radius: 3px;
}

.ui-state-focus,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    background:       #e6e6e6 !important;
    border-color:     #e6e6e6 !important;
    background-color: #e6e6e6 !important;
    color:            #000000 !important;
    font-weight:      700 !important;
}


.additional-options {
    background-color: #DDD;
    padding: 10px 20px 10px 20px;
}

    .additional-options .control-label {
        font-weight: 100;
    }

.token-input {
    width: auto !important;
}

.graphtype-container {
    width:  100%;
    height: 80px;
    padding-top:    20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: #FFFFFF;
}

.graphtype-selector .btn {
    font-size: 20px;
}


.wait-content {
    text-align: center;
    margin-top:    40px;
    margin-bottom: 40px;
    width:  600px;
    height: 600px;
}

.graph-content {
    display: block;
    margin:  auto;
    position: relative;
    height:   750px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 20px;
    
}

.full-page {
    position: relative;
    height:     100%;
    min-height: 100%;
    margin-top:    20px;
    margin-bottom: 20px;
}

.spinbox-input {
    width: 60px !important;
}

.chartOptions {
    display: none;
    align-items: center;
}
.chartOptions label {
    font-size: 14px;
}

svg text {
    cursor: default;
}