#svg-container {
    border-radius: 5px;
    background-color: #F4F4F4;
}

.graph-tooltip {
    position: absolute;
    display: block;
    color: white;
    height: auto;
    width: auto;
    padding: 3px 5px;
    border-radius: 5px;
    max-width: 400px;
    background-color: rgba(60,16,202, 0.8);
}

.notvisible {
    display: block;
    visibility: hidden;
}

.legend {
    font-size: 12px;
}

rect {
    stroke-width: 2;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.axis path,
.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}
.domain {
    fill:   none !important;
    stroke: #000 !important;
}
.hexagon {
  fill: none;
}

.hidden {
    visibility: hidden;
}