
.searchbar-container .tokenfield {
    border-color: #6375fc;
    border-width: 2px;
}

.tokenfield .token {
    color: white;
    height: 25px;
    text-align: center;
    background-color: #6375fc;
}

.tokenfield .token .token-label {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

    .tokenfield .token .close {
        color: white;
    }

.ui-autocomplete {
    width:      300px;
    max-width:  400px;
    min-width:  inherit !important;
    border-radius: 3px;
}

.ui-state-focus,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    background:       #e6e6e6 !important;
    border-color:     #e6e6e6 !important;
    background-color: #e6e6e6 !important;
    color:            #000000 !important;
    font-weight:      700 !important;
}


.additional-options {
    background-color: #DDD;
    padding: 10px 20px 10px 20px;
}

    .additional-options .control-label {
        font-weight: 100;
    }

.token-input {
    width: auto !important;
}




.dropdown-container {
    width:  100%;
    height: 80px;
    padding-top:    20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: #BBB;
}

.dropdown-selector .btn {
    font-size: 20px;
}




.wait-content {
    text-align: center;
    margin-top:    40px;
    margin-bottom: 40px;
    width:  100%;
    height: 70%;
}




.graph-content {
    display: none;
    position: relative;
    width:        80%;
    height:       70%;
    border-radius: 5px;
    margin-top:    50px;
    margin-bottom: 30px;
    
}
